.aboutImage {
    position: relative;
    text-align: center;
    background-color: #2196F3;
    border-bottom: 2px solid #FF6F6F;
}

.aboutImage>img {
    display: block;
    margin: auto;
    max-height: 50vh;
    max-width: 100%;
}