.display {
    flex: 0 0 calc(65vw - 4.4rem);
    display: flex;
    flex-direction: column;
    background-color: #8B8B8B;
}

.display--backImage {
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;
}

.display--backImage > div {
    position: absolute;
    height: min-content;
    width: min-content;
    left: 50%;
    top: 50%
}

.display--backImage > div > img {
    height: 102vh;
    transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 3 / 1) {
    .display--backImage > div > img {
        height: 34vw;
    }
}