.navbar {
    position: fixed;
    bottom: 0;
    right: 1.5rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    display: flex;
    background-color: #d6efffd9;
}

.navbar--main, .navbar--extra {
    display: flex;
    align-items: center;
    padding-top: 0.6rem;
    padding-bottom: 0.8rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.navbar--main {
    padding-right: 1rem;
    padding-left: 0.7rem;
    column-gap: 1rem;
    border-left: 1px solid #00000040;
    background-color: #F8F8F8;
}

.navbar--extra {
    padding-right: 2rem;
    padding-left: 2rem;
    column-gap: 2rem;
}

.closeButton, .arrow {
    max-height: 1.3rem;;
}