.navbar {
    position: fixed;
    z-index: 20;
    bottom: 0;
    right: 1.5rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    display: flex;
    background-color: rgba(214, 239, 255, 1);
}

.start {
    opacity: 90%;
}

.navbar--main, .navbar--extra {
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.navbar--main {
    padding-right: 1rem;
    padding-left: 0.7rem;
    column-gap: 0.5rem;
    border-left: 1px solid #00000040;
    background-color: #F8F8F8;
}

.navbar--extra {
    padding-right: 2rem;
    padding-left: 2rem;
    column-gap: 2rem;
}

.navbar--extra>a, .navbar--extra>span, .navbar--main>span {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.closeButton, .arrow {
    max-height: 1.3rem;
    cursor: pointer;
}

.closeButton {
    margin-right: 0.5rem;
}