.projects {
    padding: 2rem 1rem 3rem 0.5rem;
    flex: 1 1 auto;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1rem;
}

.projects--blank {
    width: 14rem;
    flex: 1 1 auto;
}