.projectThumb {
    position: relative;
    width: 14rem;
    aspect-ratio: 16 / 9;
    flex: 1 1 auto;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.75));
}

.projectThumb>img {
    flex: 1 1 auto;
    object-fit: cover;
}

.select {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.75));
}

.deselect {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.75)) grayscale(1) blur(4px);
}