.container {
    position: relative;
    width: 100%;
    min-width: 20rem;
    height: 100vh;
    overflow: hidden;
    display: flex;
    background-color: #d4d4d4;
}

.container>.mainSelector {
    flex: 1 0 45%;
    display: flex;
}