body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.793);
    border-radius: 3px;
    border: transparent;
}
